* {
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/background.jpg);
    height: 100vh;
    background-position: center; 
    background-size: cover;
}

@media (max-width: 300px) {
    body {
        background-attachment: scroll;
    }
}

.bottom-center-text {
    
    color: grey;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    
}

@media only screen and (min-width: 768px){
    .bottom-center-text {
        position: absolute;
        bottom: 250px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 767px){
    .bottom-center-text {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 20px;
        margin-left: 30px;
    }
}
